@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0 auto;
}

.logo01{
    font-size: 30px;
    font-style:normal;
    font-family: 'Roboto', sans-serif;
    margin: 10px;

}

.subtitulo{
    font-size: 20px;
}

.compre{
    display: inline;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #2203E4;
    font-family: 'Poppins';
    color: #2203E4;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1440px;
}

ul li{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    padding-left: 25px;
    color: black;
}

header{
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.titulo{
    
    text-align: center;
    font-family: 'Poppins';
    line-height: 120%;
    margin-top: 96px;
    
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    
}

p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    
}

.botao{
    border: 5px ;
    background: #0062FF;
    padding: 10px;
    color: white;

}

.botao2{
    text-align: center;
    margin: 0 auto;
    border: 1px solid #575757;
    padding: 9px;
    color: #575757;
}



.desenvolvedor h1{
    color: black;
    font-weight: 500;
    margin-left: 300px;
    padding: 30px;
}

.desenvolvedor h2, p{
    color: #575757;
    text-align: center;
    
}

.botao3{
    color: #2203E4;
    background: white;
    padding: 10px;
    border: 5px;
}

.imagem01{
    text-align:end;
    width: 470;
    height: 462;

}