@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

ul li{
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    
}

header{
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.compre{
    font-family: 'Poppins';
    color: #2203E4;
    
}

.titulo{
   
    margin: 0 auto;
    text-align: center;


}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
}

p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    ;
}

.botao{
    border: 5px ;
    background: #0062FF;
    padding: 10px;
    color: white;

}

.botao2{
    border: 5px;
    padding: 10px;
}

.position{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    background-position: center;
}

.desenvolvedor{
    color: black;
    text-align: center;
    
}

.desenvolvedor h2, p{
    color: #575757;
    text-align: center;
    

}

.botao3{
    color: #2203E4;
    background: white;
    padding: 10px;
    border: 5px;
}